[Unit]
Description=Heracles
ConditionPathExists=/usr/bin/heracles
After=network.target

[Service]
Type=simple
User=heracles
Group=heracles
LimitNOFILE=65535

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

WorkingDirectory=/etc/heracles
ExecStart=/usr/bin/heracles

[Install]
WantedBy=multi-user.target
